<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose</title>
</head>
<body>

    <nav>
        <a href="/products">Back to Products Index</a>
    </nav>
    <h1><%=product.name %></h1>
    <br />

    Descriptions: <%= product.description %> 
    Image: <img src="<%= product.img%>" alt="">
    Price: <%= product.price%>
    Quantity: <% product.qty%>

    <nav>
        <a href="/products/<%= %>edit">Edit Product</a>
    </nav>
    <br>

    <nav>
        <a href="/products/<%= %>?_method=DELETE">DELETE</a>
    </nav>

    <!-- <input type="submit" >  OPTIONS-->
    <!-- When attr button.target = 'ON', subtract product.qty by 1 -->
    <!-- if else statement in update route and redirect it back to itself -->
    <!-- if else statement attached to buy button to update qty on page -->



</body>
</html>