<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose</title>
</head>

<body style="font-size: x-large; text-align: justify; background-color: gold;">
    <!-- BACK TO INDEX -->
    <nav>
        <a href="/products">Back to Products Index</a>
    </nav>
    <h1>
        <%=product.name%>
    </h1>
    <br />
    <!-- DELETE BUTTON-->
    <form action="/products/<%= product.id%>?_method=DELETE" method="POST">
        <input type="submit" value=DELETE>
    </form>
    <br>
    <!-- BODY  -->
    <%= product.description %> <br>
        <img src="<%= product.img%>" alt="<%=product.name%>"><br>
        Price: <%= product.price%> <br>



            <br>
            <br>
            <!-- EDIT BUTTON-->
            <form action="/products/<%= product._id%>/edit" method="PUT">
                <input type="submit" value=EDIT>
            </form> <br>



            Quantity: <%= product.qty%>
                <form action="/products/<%=product._id%>?_method=PUT" method="POST">
                        <% if(product.qty !=0 ) { %>
                                <!-- BUY BUTTON -->
                                <input type="hidden" name="qty" value="<%=( parseInt( product.qty )-1).toString() %>">
                                <input id="buy" type="submit"  value="buy">
                                <%} else {%>
                                <p>OUT OF STOCK</p>
                                <input type="off" type="submit" name="qty" value="Buy" disabled="true">
                                <%}%>
                </form>







</body>

</html>